*.vs*
.ycm*
.DS_Store
/build*
/vlog*
*.class
*.jar
*.jnilib
*.o
*.obj
*.log
*.tlog
*.pdb
*.dll
*.exp
*.idb
*.exe
*.lib
*.ilk
*.iobj
*.ipdb
testOutput
.classpath
.project
.settings
.*.swp
**/*.csv
**/*.datalog
**/*.ipynb
**/*.stats
**/*.conf
experiments/*
